#### Project 1: Combining and Cleaning Sales Data
#### Objective: Merge two sales datasets from different regions and clean the combined data

##### Step 1: Import pandas library

In [24]:
import pandas as pd

##### Step 2: Create DataFrames for two regions

In [25]:
# Region A data
sales_region_A = pd.DataFrame({
    'product_id': [101, 102, 103, 104],   # Product IDs
    'sales': [2500, 3000, None, 1800],    # One missing sales value
    'region': ['A', 'A', 'A', 'A']        # Region label
})

# Region B data (has a different column name 'prod_id')
sales_region_B = pd.DataFrame({
    'prod_id': [103, 104, 105, 106],      # Different column name
    'sales': [2000, None, 3100, 2700],    # One missing sales value
    'region': ['B', 'B', 'B', 'B']        # Region label
})

In [26]:
# Display both DataFrames
print("Sales Region A Data:")
print(sales_region_A)
print("\nSales Region B Data:")
print(sales_region_B)

Sales Region A Data:
   product_id   sales region
0         101  2500.0      A
1         102  3000.0      A
2         103     NaN      A
3         104  1800.0      A

Sales Region B Data:
   prod_id   sales region
0      103  2000.0      B
1      104     NaN      B
2      105  3100.0      B
3      106  2700.0      B

##### Step 3: Standardizing and Merging the datasets

In [27]:
# Rename column 'prod_id' in Region B to 'product_id' for consistency
sales_region_B.rename(columns={'prod_id': 'product_id'}, inplace=True)

In [28]:
# Combine both datasets using pd.concat() to stack them vertically
combined_sales = pd.concat([sales_region_A, sales_region_B], ignore_index=True)

In [29]:
# Display combined sales data
print("\nCombined Sales Data:")
print(combined_sales)

Combined Sales Data:
   product_id   sales region
0         101  2500.0      A
1         102  3000.0      A
2         103     NaN      A
3         104  1800.0      A
4         103  2000.0      B
5         104     NaN      B
6         105  3100.0      B
7         106  2700.0      B

##### Step 4: Clean the Combined Data

In [30]:
# Check for missing values in each column
print("\nMissing Values Before Cleaning:")
print(combined_sales.isnull().sum())

Missing Values Before Cleaning:
product_id    0
sales         2
region        0
dtype: int64

In [31]:
# Fill missing 'sales' values with the average sales value
avg_sales = combined_sales['sales'].mean()      # Calculate average sales
combined_sales.fillna({'sales': avg_sales}, inplace=True) # Fill missing with mean

In [32]:
# Drop rows that have missing 'product_id' (can't be imputed)
combined_sales.dropna(subset=['product_id'], inplace=True)

print("\nData After Cleaning:")
print(combined_sales)

Data After Cleaning:
   product_id        sales region
0         101  2500.000000      A
1         102  3000.000000      A
2         103  2516.666667      A
3         104  1800.000000      A
4         103  2000.000000      B
5         104  2516.666667      B
6         105  3100.000000      B
7         106  2700.000000      B

##### Step 5: Analyze the Data

In [33]:
# Group by 'product_id' and calculate total sales across both regions
total_sales = combined_sales.groupby('product_id')['sales'].sum().reset_index()

print("\nTotal Sales per Product Across Both Regions:")
print(total_sales)

Total Sales per Product Across Both Regions:
   product_id        sales
0         101  2500.000000
1         102  3000.000000
2         103  4516.666667
3         104  4316.666667
4         105  3100.000000
5         106  2700.000000